{
  "listener_address" : "0.0.0.0",
  "listener_port" : 51010,
  "ethereum" : "${ETHEREUM_ADDRESS}",
  "ethereum_io_api_token" : "${ETHEREUM_IO_API_TOKEN}",
  "bootstrap_url" : "${SWARM_BOOTSTRAP_URL}",
  "uuid" : "${SWARM_UUID}",
  "debug_logging" : ${NODE_DEBUG_LOGGING},
  "log_to_stdout" : true,
  "monitor_address" : ${LOCAL_IP}",
  "monitor_port": 8125,
  "audit_enabled": true
}